<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div>
        <h3>
            <a th:href="@{/ti}">Home</a>
            <a th:href="@{/ti/forum/posts}">Posts</a>
            <a th:if="${isAuthenticated}" th:href="@{/ti/auth/logout}">Logout</a>
            <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/login}">Login</a>
            <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/register}">Registration</a>
            <a th:href="@{/ti/users/admin/users}">All Users</a>
        </h3>
    </div>
</header>

<div>
    <h2>Admin Panel</h2>
</div>
</body>
</html>