<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>

<form th:replace="ForumFormFragment.html :: header"></form>
<form th:replace="~{ForumFormFragment.html :: images}"></form>

<div class="body-content">
    <form action="#" th:action="@{/ti/forum/posts}" method="get" th:object="${filterPostOptions}" class="filter-form">
        <h2 th:text="#{posts.filter.options}" class="h2-3d-dark">Filter Options</h2>
        <div class="filter-inputs">
            <input type="text" placeholder="Search by title..." th:field="*{title}" class="filter-input"/>
            <input type="text" placeholder="Search by tags..." th:field="*{tagName}" class="filter-input"/>
            <input type="text" placeholder="Search by date before..."
                   th:field="*{createdBefore}"
                   class="filter-input created-before"
                   onfocus="(this.type='date')"
                   onblur="(this.type='text')">

            <input type="text" placeholder="Search by date after..."
                   th:field="*{createdAfter}"
                   class="filter-input created-after"
                   onfocus="(this.type='date')"
                   onblur="(this.type='text')">
            <input type="number" min="0" placeholder="Search by max likes..." th:field="*{maxLikes}"
                   class="filter-input"/>
            <input type="number" min="0" placeholder="Search by min likes..." th:field="*{minLikes}"
                   class="filter-input"/>
            <input type="number" min="0" placeholder="Search by max dislikes..." th:field="*{maxDislikes}"
                   class="filter-input"/>
            <input type="number" min="0" placeholder="Search by min dislikes..." th:field="*{minDislikes}"
                   class="filter-input"/>

            <select th:field="*{sortBy}" class="filter-select">
                <option value="">You can sort by...</option>
                <option value="title">Title</option>
                <option value="likes">Likes</option>
                <option value="dislikes">Dislikes</option>
                <option value="created on">Created On</option>
                <option value="posted by">Posted By</option>
            </select>

            <select th:field="*{sortOrder}" class="filter-select">
                <option value="">Sort Order</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>

            <input type="submit" value="Search" class="filter-button"/>
        </div>
    </form>

    <div class="posts-container">
        <h2 th:text="#{posts.title}" class="h2-3d-dark">Forum Posts</h2>
        <div th:each="post : ${posts}" class="post-item box-shadow">
            <div class="post-content">
                <div class="post-left">
                    <h3 class="post-title">
                        <a th:href="@{/ti/forum/posts/__${post.postId}__}" th:text="${post.title}">Post Title</a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-creator">
    <i class="fa-solid fa-user-tie"></i>
    <a id="post-creator-username" th:href="@{/ti/users/{id}(id=${post.postedBy.id})}" th:text="${post.postedBy.username}">Username</a>
</span>
                        <span class="post-time">
                            <i class="fa fa-calendar-alt"></i>
                            <span th:text="${post.createdOn}">Time of creation</span>
                        </span>
                        <span class="post-comments">
                            <i class="fa fa-comments"></i>
                            <span th:text="${post.getComments().size()}">Comments Count</span>
                        </span>
                    </div>
                </div>

                <div class="post-right">
                    <div class="post-stats-container">
                        <div class="post-stats">
                            <div class="post-likes">
                                <i class="fa fa-thumbs-up"></i>
                                <span th:text="${post.usersWhoLikedPost.size()}">Likes Count</span>
                            </div>
                            <div class="post-dislikes">
                                <i class="fa fa-thumbs-down"></i>
                                <span th:text="${post.usersWhoDislikedPost.size()}">Dislikes Count</span>
                            </div>
                        </div>
                        <div class="post-tags-container">
                            <div class="post-tags">
                                <span th:each="tag : ${post.getPostTags()}" th:text="'#' + ${tag}">#Tag</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination" th:if="${totalPages > 1}">
        <ul>
            <li th:if="${currentPage > 1}">
                <a th:href="@{/ti/forum/posts(page=${currentPage - 1}, size=${size}, sortBy=${filterPostOptions.sortBy}, sortOrder=${filterPostOptions.sortOrder}, title=${filterPostOptions.title}, tagName=${filterPostOptions.tagName}, createdBefore=${filterPostOptions.createdBefore}, createdAfter=${filterPostOptions.createdAfter}, minLikes=${filterPostOptions.minLikes}, maxLikes=${filterPostOptions.maxLikes}, minDislikes=${filterPostOptions.minDislikes}, maxDislikes=${filterPostOptions.maxDislikes})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{/ti/forum/posts(page=${i}, size=${size}, sortBy=${filterPostOptions.sortBy}, sortOrder=${filterPostOptions.sortOrder}, title=${filterPostOptions.title}, tagName=${filterPostOptions.tagName}, createdBefore=${filterPostOptions.createdBefore}, createdAfter=${filterPostOptions.createdAfter}, minLikes=${filterPostOptions.minLikes}, maxLikes=${filterPostOptions.maxLikes}, minDislikes=${filterPostOptions.minDislikes}, maxDislikes=${filterPostOptions.maxDislikes})}"
                   th:text="${i}"
                   th:class="${i == currentPage} ? 'active' : ''">1</a>
            </li>
            <li th:if="${currentPage < totalPages}">
                <a th:href="@{/ti/forum/posts(page=${currentPage + 1}, size=${size}, sortBy=${filterPostOptions.sortBy}, sortOrder=${filterPostOptions.sortOrder}, title=${filterPostOptions.title}, tagName=${filterPostOptions.tagName}, createdBefore=${filterPostOptions.createdBefore}, createdAfter=${filterPostOptions.createdAfter}, minLikes=${filterPostOptions.minLikes}, maxLikes=${filterPostOptions.maxLikes}, minDislikes=${filterPostOptions.minDislikes}, maxDislikes=${filterPostOptions.maxDislikes})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

</div>

<form class="button-create">
    <a th:if="${isAuthenticated && !isBlocked}" href="#" th:href="@{/ti/forum/posts/new}"
       th:text="#{post.create.button}"
       class="btn-danger">Create New Post</a>
</form>

<form th:replace="ForumFormFragment.html :: footer"></form>
</body>
</html>
