<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header th:replace="~{ForumFormFragment.html :: header}"></header>
<div class="body-content">
    <h2 class="h2-3d-dark">Edit User Information</h2>

    <div class="edit-user-container">
        <div class="profile-picture-container">
            <img th:object="${avatarUrl}" th:src="${avatarUrl}" alt="Profile Picture" width="150" height="150"/>
            <form  th:action="@{/ti/users/edit/avatar}" method="post" enctype="multipart/form-data">
                <label for="avatarFile" class="custom-file-upload">Choose Photo</label>
                <input type="file" id="avatarFile" name="avatarFile" accept="image/*" required>
                <button type="submit">Upload</button>
            </form>
        </div>

        <form th:action="@{/ti/users/edit}" th:object="${userDto}" method="post" enctype="multipart/form-data" class="user-info-container">
            <div class="user-info">
                <label th:text="#{user.label.firstName}">First Name:</label>
                <div class="input-container">
                    <input type="text" th:field="*{firstName}" required/>
                    <label class="error-form-error" th:errors="*{firstName}"></label>
                </div>
            </div>
            <div class="user-info">
                <label th:text="#{user.label.lastName}">Last Name:</label>
                <div class="input-container">
                    <input type="text" th:field="*{lastName}" required/>
                    <label class="error-form-error" th:errors="*{lastName}"></label>
                </div>
            </div>
            <div class="user-info">
                <label th:text="#{user.label.email}">Email:</label>
                <div class="input-container">
                    <input type="email" th:field="*{email}" required/>
                    <label class="error-form-error" th:errors="*{email}"></label>
                </div>
            </div>
            <div class="user-info">
                <label th:text="#{user.label.password}">Password:</label>
                <div class="input-container">
                    <input type="password" th:field="*{password}" required/>
                    <label class="error-form-error" th:errors="*{password}"></label>
                </div>
            </div>
            <div class="user-info">
                <label th:text="#{user.label.password-confirm}">Confirm Password:</label>
                <div class="input-container">
                    <input type="password" th:field="*{passwordConfirmation}" required/>
                    <label class="error-form-error" th:errors="*{passwordConfirmation}"></label>
                </div>
            </div>

            <div>
                <button type="submit">Save</button>
            </div>
        </form>
        <div th:if="${isAdmin}" class="admin-phone-container">
            <h3 class="h3-3d-dark">Add Phone Number</h3>
            <form th:object="${phoneNumber}" th:action="@{/ti/users/admin/{id}/phone(id=${userId})}" method="post">
                <div class="user-info">
                    <label for="phoneNumber">Phone:</label>
                    <div class="input-container">
                        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required/>
                        <label class="error-form-error" th:errors="*{phoneNumber}"></label>
                    </div>
                </div>

                <div>
                    <button type="submit">Add Phone</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{ForumFormFragment.html :: footer}"></footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const fileInput = document.querySelector("#avatarFile");
        const label = document.querySelector("label[for='avatarFile']");
        label.textContent = "Choose Photo";
    });
</script>
</body>
</html>