<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header th:fragment="header">
    <div class="header-container">
        <div class="logo-container">
            <a th:href="@{/ti}">
                <img th:src="@{/images/ti-logo.jpg}" alt="IT Logo" class="logo-img">
            </a>
        </div>
        <nav class="navigation">
            <div class="nav-links-center">
                <a th:href="@{/ti}">
                    <i class="fas fa-home"></i> Home
                </a>
                <a th:href="@{/ti/about}">
                    <i class="fas fa-info-circle"></i> About
                </a>
                <a th:href="@{/ti/forum/posts}">
                    <i class="fas fa-comments"></i> Forum Posts
                </a>
                <a th:href="@{/ti/users/edit}">
                    <i class="fas fa-user-edit"></i> Edit User
                </a>
                <a th:if="${isAuthenticated && (isAdmin || isModerator)}" th:href="@{/ti/users/admin}">
                    <i class="fas fa-user-shield"></i> Admin Panel
                </a>
                <a th:if="${isAuthenticated && (isAdmin || isModerator)}" th:href="@{/ti/users/admin/users}">
                    <i class="fas fa-users-cog"></i> All Users
                </a>
            </div>
            <div class="nav-links-right">
                <a th:if="${isAuthenticated}" th:href="@{/ti/auth/logout}">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
                <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/login}">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
                <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/register}">
                    <i class="fas fa-user-plus"></i> Registration
                </a>
            </div>
        </nav>
    </div>
</header>
<footer th:fragment="footer" class="footer">
    <div class="footer-content">
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="footer-text">&copy; 2024 IT Gaming Forum. All rights reserved. &copy;</p>
    </div>
</footer>
</body>
</html>