<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo-container">
            <h1>TI Logo</h1>
        </div>
        <nav class="navigation">
            <div class="nav-links-center">
                <a th:href="@{/ti}">Home</a>
                <a th:href="@{/ti/about}">About</a>
                <a th:href="@{/ti/forum/posts}">Forum Posts</a>
                <a th:href="@{/ti/users/edit}">Edit User</a>
                <a th:if="${isAuthenticated && isAdminOrModerator}" th:href="@{/ti/users/admin}">Admin Panel</a>
            </div>
            <div class="nav-links-right">
                <a th:if="${isAuthenticated}" th:href="@{/ti/auth/logout}">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
                <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/login}">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
                <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/register}">
                    <i class="fas fa-user-plus"></i> Registration
                </a>
            </div>
        </nav>
    </div>
</header>
<main class="body-content">
    <h1>Game Forum</h1>
    <h2 th:text="#{home.label.welcome}">Welcome (design)!</h2>
    <p>This is a place where gamers can discuss their favorite games, share tips, and connect with others.</p>
    <p>Total registered users: <span th:text="${userCount}"></span></p>

    <h4 th:text="#{home.label.welcome.user}">welcome user</h4>
    <h4 th:if="${username != null}" th:text="${username}">username</h4>
</main>
<footer>
    <p>&copy; 2024 Game Forum. All rights reserved.</p>
</footer>
</body>
</html>