<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<form th:replace="~{ForumFormFragment.html :: header}"></form>
<div class="body-content">
    <h1 class="page-title">Welcome to IT - Your Ultimate Gaming Hub!</h1>
    <p class="feature-text">🎮 <strong>Join the Community of Gamers, By Gamers</strong><br>
        Welcome to IT, the go-to place where gamers from around the world come together to discuss,
        share, and celebrate their passion for gaming. Whether you're into hardcore FPS, strategy games, or casual
        mobile gaming, you'll find your tribe here.</p>

    <h3 class="section-title">What we offer?</h3>
    <p class="feature-text">💬 <strong>Engage in Thriving Discussions</strong><br>
        Dive into conversations across a wide range of gaming topics. From the latest releases and game strategies to
        nostalgic classics and upcoming events, our forums are buzzing with activity. Have a question? Our community is
        here to help!</p>

    <p class="feature-text">📚 <strong>Share Your Knowledge</strong><br>
        Got some tips and tricks to share? Want to post your latest game review or walkthrough? Our forum is the perfect
        place to showcase your expertise and help fellow gamers improve their skills.</p>

    <h3 class="section-title">Why join IT forum?</h3>
    <ul class="benefits-list">
        <li><strong>Friendly Community:</strong> We foster a positive and inclusive environment where everyone is welcome, regardless of skill level.</li>
        <li><strong>Comprehensive Content:</strong> From deep-dive discussions to light-hearted memes, you'll find a variety of content tailored to your interests.</li>
        <li><strong>Active Moderation:</strong> Our dedicated team ensures that the forum remains a safe and enjoyable place for all members.</li>
    </ul>

    <div class="forum-stats-container">
        <div class="stat-item">
            <i class="fa fa-users fa-3x stat-icon"></i>
            <div th:text="${userCount}" class="stat-count stat-number">25</div>
            <p class="stat-text">Total users we have</p>
        </div>
        <div class="stat-item">
            <i class="fa fa-file-alt fa-3x stat-icon"></i>
            <div th:text="${postsCount}" class="stat-count stat-number">25</div>
            <p class="stat-text">Total posts they've written</p>
        </div>
    </div>

    <div class="forum-buttons-container">
        <a href="#" th:href="@{/ti/top10mostLikedPosts}" class="forum-button-3d">Top 10 most liked posts</a>
        <a href="#" th:href="@{/ti/top10mostCommentedPosts}" class="forum-button-3d">Top 10 most commented posts</a>
        <a href="#" th:href="@{/ti/top10mostRecentPosts}" class="forum-button-3d">Top 10 most recent posts</a>
    </div>
</div>
<form th:replace="ForumFormFragment.html :: footer"></form>
</body>
</html>