<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<form th:replace="~{ForumFormFragment.html :: header}"></form>
<form th:replace="~{ForumFormFragment.html :: images}"></form>


<div class="body-content">
    <div class="login-outer-container">
        <div class="spacer"></div>

        <div class="login-container">
            <form class="login-form" action="#" th:action="@{/ti/auth/login}" th:object="${login}" method="post">
                <h2>Login</h2>
                <div>
                    <label th:text="#{user.label.username}">Username</label>
                    <input type="text" th:field="*{username}"/>
                    <label id="error-form-error-username" th:errors="*{username}">Username error placeholder</label>
                </div>

                <div>
                    <label th:text="#{user.label.password}">Password</label>
                    <input type="password" th:field="*{password}"/>
                    <label id="error-form-error-password" th:errors="*{password}">Password error placeholder</label>
                </div>

                <input id="login-button" type="submit" value="Login"/>
            </form>
        </div>

        <div class="spacer"></div>
    </div>
</div>

<form th:replace="~{ForumFormFragment.html :: footer}"></form>
</body>
</html>
