<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div>
        <div>
            <h3>
                <a th:href="@{/ti}">Home</a>
                <a th:href="@{/ti/forum/posts}">Posts</a>
                <a  th:if="${isAuthenticated}" th:href="@{/ti/auth/logout}">Logout</a>
                <a  th:if="${isAuthenticated}" th:href="@{/ti/users/edit}">Edit User</a>
                <a  th:if="${isAuthenticated && (isAdmin || isModerator)}" th:href="@{/ti/users/admin}">Admin Panel</a>
                <a  th:unless="${isAuthenticated}" th:href="@{/ti/auth/login}">Login</a>
                <a  th:unless="${isAuthenticated}" th:href="@{/ti/auth/register}">Registration</a>
            </h3>
        </div>
    </div>
</header>
<h2>Create Post</h2>
<form class="body-content" action="#" th:action="@{__${requestURI}__}" th:object="${newPost}" method="post">
    <label th:text="#{posts.label.title}">Title</label>
    <br/>
    <input type="text" th:field="*{title}"/>
    <label class="error" th:errors="*{title}">Title error placeholder</label>
    <br/><br/>

    <label th:text="#{post.label.content}">Content</label>
    <br/>
    <input type="text" th:field="*{content}"/>
    <label class="error" th:errors="*{content}">Content error placeholder</label>
    <br/><br/>

    <input type="submit" value="Create Post"/>
</form>
</body>
</html>