<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Forum | Edit'">Edit Post</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&display=swap">

</head>
<body>
<header th:replace="ForumFormFragment.html :: header"></header>

<div class="body-content">
        <h2 class="h2-3d-dark">Edit Your Post</h2>
        <form th:object="${postDto}" th:action="@{__${requestURI}__}" method="post" class="create-post-form-container">
            <div class="post-form-group">
                <label for="create-post-title">Title</label>
                <textarea id="create-post-title" th:field="*{title}" placeholder="What will be your post title?" class="post-textarea-title" rows="1" required></textarea>
                <label class="error-message" th:errors="*{title}"></label>
            </div>

            <div class="post-form-group">
                <label for="create-post-content">Content</label>
                <textarea id="create-post-content" placeholder="Write your post content here..." th:field="*{content}" class="post-textarea-content" rows="5" required></textarea>
                <label class="error-message" th:errors="*{content}"></label>
            </div>

            <div class="form-group-submit-button">
                <input type="submit" value="Save Changes" class="btn-submit">
            </div>
        </form>


    <div class="tags-section">
        <h3 th:if="${tagDto != null}" class="h2-3d-dark">Tags</h3>
        <div class="post-tags-container2">
            <div th:each="tag : ${tagsInPost}" th:unless="${tagsInPost.isEmpty()}">
                <div class="tag-item">
                    <span class="tag-name" th:text="${'#' + tag}">#SomeVeryLongWord</span>
                    <a href="#" th:href="@{__${requestURI}__/remove-tag/__${tag.getId()}__}" class="btn-danger">Remove</a>
                </div>
            </div>
        </div>

        <form action="#" th:if="${tagDto != null}" th:action="@{__${requestURI}__/add-tag}" th:object="${tagDto}" method="post">
            <div class="form-group centered-form">
                <input type="text" id="phoneNumber" th:field="*{tagName}" placeholder="Place your tag here..." name="phoneNumber" required/>
                <label class="error-form-error" th:errors="*{tagName}"></label>
            </div>
            <div class="form-group-submit-button">
                <input type="submit" value="Add Tag" class="btn-submit">
            </div>
        </form>
    </div>
</div>

<footer th:replace="ForumFormFragment.html :: footer"></footer>
</body>
</html>
