<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Forum | Add comment to post'">Add comment to post</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header th:replace="~{ForumFormFragment.html :: header}"></header>
<form th:replace="~{ForumFormFragment.html :: images}"></form>


<div class="body-content">
    <div class="comment-form-container">
        <form th:object="${commentDto}" th:action="@{__${requestURI}__}" method="post">
            <div class="form-group-submit-button">
                <textarea th:field="*{content}" class="comment-textarea" placeholder="Write your comment here..."></textarea>
                <label class="error-form-error" th:errors="*{content}"></label>
            </div>
            <div class="form-group-submit-button">
                <input type="submit" value="Submit" class="btn-submit">
            </div>
        </form>
    </div>
</div>

<footer th:replace="~{ForumFormFragment.html :: footer}"></footer>
</body>
</html>
