<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Forum | ' + ${post.title}">Error!</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div>
        <div>
            <h3>
                <a th:href="@{/ti}">Home</a>
                <a th:href="@{/ti/forum/posts}">Posts</a>
                <a  th:if="${isAuthenticated}" th:href="@{/ti/auth/logout}">Logout</a>
                <a  th:if="${isAuthenticated}" th:href="@{/ti/users/edit}">Edit User</a>
                <a  th:if="${isAuthenticated && (isAdmin || isModerator)}" th:href="@{/ti/users/admin}">Admin Panel</a>
                <a  th:unless="${isAuthenticated}" th:href="@{/ti/auth/login}">Login</a>
                <a  th:unless="${isAuthenticated}" th:href="@{/ti/auth/register}">Registration</a>
            </h3>
        </div>
    </div>
</header>
<div>
    <div class="body-content">
        <h1 th:text="${post.title}">Post Title</h1>
        <h2 th:text="${post.content}">Post Content</h2>

        <form th:if="${isAuthenticated}" th:action="@{/ti/forum/posts/{id}(id=${post.postId})}" th:object="${commentToAdd}" method="post">
            <input type="text" th:field="*{content}" placeholder="Write a comment..."/>
            <label class="error" th:errors="*{content}">Name error placeholder</label>

            <button type="submit" class="btn-danger" th:text="#{post.reply-button}">Reply</button>
        </form>
        <br/><br/>



        <div th:if="${comments.isEmpty()}">
            <h2 th:text="#{comments.title.empty}">No Comments</h2>
        </div>

        <div th:unless="${comments.isEmpty()}">
            <div th:each="comment : ${comments}" th:value="${comment.commentId}">
                <span th:text="'Comment: ' + ${comment.content}">Content</span>
                <br/>
                <span th:text="'Commented by: ' + ${comment.userId.username}">Username</span>
                <br/>
                <span th:text="'Commented on: ' + ${comment.createdOn}">Created On</span>
                <br/>

                <form th:if="${isAuthenticated && editPermissions[comment.commentId]}"
                      th:action="@{/ti/forum/posts/{postId}/comments/{commentId}(postId=${post.postId}, commentId=${comment.commentId})}"
                      th:object="${commentToUpdate}" method="post">
                    <input type="text" th:field="*{content}" th:value="${comment.content}" placeholder="Edit your comment..."/>
                    <button type="submit" class="btn-danger" th:text="#{comment.edit-button}">Edit Comment</button>
                </form>
                <form th:if="${isAuthenticated && (isAdmin || isModerator || editPermissions[comment.commentId])}"
                      th:action="@{/ti/forum/posts/__${post.postId}__/comments/__${comment.commentId}__/delete}"
                      method="post" onsubmit="return confirm('Are you sure you want to delete this comment?');" style="display:inline;">
                    <button type="submit" class="btn-danger" th:text="#{comment.delete-button}">Delete</button>
                </form>
                <br/><br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>