<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Forum | ' + (${post?.title} ?: 'Error')">Error!</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div>
        <div>
            <h3>
                <a th:href="@{/ti}">Home</a>
                <a th:href="@{/ti/forum/posts}">Posts</a>
                <a th:if="${isAuthenticated}" th:href="@{/ti/auth/logout}">Logout</a>
                <a th:if="${isAuthenticated}" th:href="@{/ti/users/edit}">Edit User</a>
                <a th:if="${isAuthenticated && (isAdmin || isModerator)}" th:href="@{/ti/users/admin}">Admin Panel</a>
                <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/login}">Login</a>
                <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/register}">Registration</a>
            </h3>
        </div>
    </div>
</header>

<div>
    <div class="body-content">
        <h1 th:text="${post != null ? post.title : 'Post Title'}">Post Title</h1>
        <h2 th:text="${post != null ? post.content : 'Post Content'}">Post Content</h2>
    </div>

    <div th:if="${relatedComments.isEmpty()}">
        <h2 th:text="#{comments.title.empty}">No Comments</h2>
    </div>

    <div class="body-content" th:unless="${relatedComments.isEmpty()}">
        <div th:each="comment : ${relatedComments}" th:value="${comment.commentId}">
            <span th:text="'Comment: ' + ${comment.content}">Content</span>
            <br/>
            <span th:text="'Commented by: ' + ${comment.userId.username}">Username</span>
            <br/>
            <span th:text="'Commented on: ' + ${#temporals.format(comment.createdOn, 'dd-MMM-yyyy HH:mm')}">Created On</span>
            <br/>
            <div class="buttons-for-post-edit-delete-reply">
                <form th:if="${loggedInUser.getId() == comment.getUserId().getId()}"
                      th:unless="${isBlocked}"
                      action="#"
                      th:action="@{/ti/forum/posts/__${comment.getCommentedPost().getPostId()}__/comments/__${comment.getCommentId()}__/edit}"
                      method="get">
                    <input class="btn-danger" type="submit" value="Edit">
                </form>

                <form th:if="${loggedInUser.getId() == comment.getUserId().getId()} OR ${isAdmin}"
                      action="#"
                      th:action="@{/ti/forum/posts/__${comment.getCommentedPost().getPostId()}__/comments/__${comment.getCommentId()}__/delete}"
                      method="get">
                    <input class="btn-danger" type="submit" value="Delete">
                </form>
            </div>
            <br/><br/>
        </div>
        <div class="buttons-for-post-edit-delete-reply">
            <form th:if="${loggedInUser.getId() == post.getPostedBy().getId()} OR ${isAdmin}" th:unless="${isBlocked}"
                  action="#"
                  th:action="@{__${requestURI}__/edit}" method="get">
                <input class="btn-danger" type="submit" value="Edit Post">
            </form>

            <form th:if="${loggedInUser.getId() == post.getPostedBy().getId()} OR ${isAdmin}" action="#"
                  th:action="@{__${requestURI}__/delete}" method="get">
                <input class="btn-danger" type="submit" value="Delete Post">
            </form>

            <form action="#" th:unless="${isBlocked}"
                  th:action="@{/ti/forum/posts/__${post.getPostId()}__/comment}"
                  method="get">
                <input class="btn-danger" type="submit" value="Reply">
            </form>
        </div>
    </div>
</div>
</body>
</html>