<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Forum | ' + (${post?.title} ?: 'Error')">Error!</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo-container">
            <a th:href="@{/ti}">
                <img th:src="@{/images/ti-logo.jpg}" alt="IT Logo" class="logo-img">
            </a>
        </div>
        <nav class="navigation">
            <div class="nav-links-center">
                <a th:href="@{/ti}">Home</a>
                <a th:href="@{/ti/about}">About</a>
                <a th:href="@{/ti/forum/posts}">Forum Posts</a>
                <a th:href="@{/ti/users/edit}">Edit User</a>
                <a th:href="@{/ti/users/admin}">Admin Panel</a>
            </div>
            <div class="nav-links-right">
                <a th:if="${isAuthenticated}" th:href="@{/ti/auth/logout}">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
                <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/login}">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
                <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/register}">
                    <i class="fas fa-user-plus"></i> Registration
                </a>
            </div>
        </nav>
    </div>
</header>

<div class="body-content">
    <div class="single-post-container">
        <h1 class="post-title" th:text="${post != null ? post.title : 'Post Title'}">Post Title</h1>
        <h2 class="post-content" th:text="${post != null ? post.content : 'Post Content'}">Post Content</h2>

        <div class="post-actions">
            <div class="post-left-actions">
                <form action="#" th:unless="${isBlocked}"
                      th:action="@{/ti/forum/posts/__${post.getPostId()}__/comment}"
                      method="get">
                    <input class="btn-danger" type="submit" value="Reply">
                </form>
            </div>

            <div class="post-right-actions">
                <div class="like-dislike-buttons">
                    <a id="like-button"
                       th:if="${loggedInUser.getId() != post.getPostedBy().getId()}"
                       th:href="@{__${requestURI}__/like}">
                        <i class="fa fa-thumbs-up"></i>
                    </a>
                    <span th:text="${post.getLikes()}">4</span>

                    <a id="dislike-button"
                       th:if="${loggedInUser.getId() != post.getPostedBy().getId()}"
                       th:href="@{__${requestURI}__/dislike}">
                        <i class="fa fa-thumbs-down"></i>
                    </a>
                    <span th:text="${post.getDislikes()}">3</span>
                </div>

                <div class="edit-delete-buttons">
                    <form th:if="${loggedInUser.getId() == post.getPostedBy().getId()}" th:unless="${isBlocked}"
                          action="#"
                          th:action="@{__${requestURI}__/edit}" method="get">
                        <input class="btn-danger" type="submit" value="Edit Post">
                    </form>

                    <form th:if="${loggedInUser.getId() == post.getPostedBy().getId()} OR ${isAdmin} or ${isModerator}" action="#"
                          th:action="@{__${requestURI}__/delete}" method="get">
                        <input class="btn-danger" type="submit" value="Delete Post">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="comments-section">
        <div th:if="${relatedComments.isEmpty()}">
            <h2 th:text="#{comments.title.empty}">No Comments</h2>
        </div>

        <div th:unless="${relatedComments.isEmpty()}">
            <div th:each="comment : ${relatedComments}" class="comment-item-container">
                <p class="comment-content" th:text="${comment.content}">Content</p>

                <div class="comment-meta">
                    <div class="comment-meta-info">
        <span class="comment-author">
            <i class="fa fa-user"></i> Author: <span th:text="${comment.userId.username}">Username</span>
        </span>
                        <span class="comment-time">
            <i class="fa fa-calendar-alt"></i> <span th:text="${#temporals.format(comment.createdOn, 'dd-MMM-yyyy HH:mm')}">Created On</span>
        </span>
                    </div>
                    <div class="comment-actions">
                        <form th:if="${loggedInUser.getId() == comment.getUserId().getId()}"
                              th:unless="${isBlocked}"
                              action="#"
                              th:action="@{/ti/forum/posts/__${comment.getCommentedPost().getPostId()}__/comments/__${comment.getCommentId()}__/edit}"
                              method="get">
                            <input class="btn-danger" type="submit" value="Edit">
                        </form>

                        <form th:if="${loggedInUser.getId() == comment.getUserId().getId()} OR ${isAdmin} or ${isModerator}"
                              action="#"
                              th:action="@{/ti/forum/posts/__${comment.getCommentedPost().getPostId()}__/comments/__${comment.getCommentId()}__/delete}"
                              method="get">
                            <input class="btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 Game Forum. All rights reserved.</p>
</footer>
</body>
</html>
