<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All User's comments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header th:replace="~{ForumFormFragment.html :: header}"></header>
<form th:replace="~{ForumFormFragment.html :: images}"></form>

<div class="body-content">
    <form action="#" th:action="@{/ti/users/{id}/comments(id=${userId})}" method="get"
          th:object="${filterCommentOptions}" class="custom-filter-form">
        <h2 th:text="#{comments.filter.options}" class="h2-3d-dark">Filter Options</h2>
        <div class="custom-filter-inputs">
            <input type="text" placeholder="Search by content..." th:field="*{keyWord}" class="custom-input-field"/>
            <input type="submit" value="Search" class="custom-filter-button"/>
        </div>
    </form>
    <div class="posts-container">
        <h2 th:text="${user.firstName}+'’s all comments'" class="h2-3d-dark">Forum Posts</h2>
        <div th:each="comment : ${comments}" class="comment-item-container">
            <p class="comment-content">
                <a th:href="@{/ti/forum/posts/__${comment.getCommentedPost().getPostId()}__}"
                   th:text="${comment.content}">Comment content</a>
            </p>
            <div class="comment-meta">
                <div class="comment-meta-info">
        <span class="post-creator">
    <i class="fa-solid fa-user-tie"></i>
    <a id="post-creator-username" th:href="@{/ti/users/{id}(id=${comment.userId.id})}" th:text="${comment.userId.username}">Username</a>
</span>
                    <span class="comment-time">
            <i class="fa fa-calendar-alt"></i> <span
                            th:text="${#temporals.format(comment.createdOn, 'dd-MMM-yyyy HH:mm')}">Created On</span>
        </span>
                </div>

            </div>
        </div>
    </div>
</div>
<footer th:replace="~{ForumFormFragment.html :: footer}"></footer>
</body>
</html>