<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div>
        <h3>
            <a th:href="@{/ti}">Home</a>
            <a th:href="@{/ti/forum/posts}">Posts</a>
            <a th:if="${isAuthenticated}" th:href="@{/ti/auth/logout}">Logout</a>
            <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/login}">Login</a>
            <a th:unless="${isAuthenticated}" th:href="@{/ti/auth/register}">Registration</a>
            <a th:href="@{/ti/users/admin/users}">All users</a>
        </h3>
    </div>
</header>
<main>
    <div class="body-content">
        <h1>User Details</h1>
        <div>
            <label>Username:</label>
            <span th:text="${user.username}"></span>
        </div>
        <div>
            <label>First Name:</label>
            <span th:text="${user.firstName}"></span>
        </div>
        <div>
            <label>Last Name:</label>
            <span th:text="${user.lastName}"></span>
        </div>
        <div>
            <label>Email:</label>
            <span th:text="${user.email}"></span>
        </div>
        <div>
            <label>Role:</label>
            <span th:text="${user.role.name}"></span>
        </div>
    </div>

    <div class="body-content">
        <h2>Admin Actions</h2>
        <form th:action="@{/ti/users/admin/users/{id}/delete(id=${user.id})}" method="post">
            <button type="submit">Delete User</button>
        </form>
        <br/>

        <form th:unless="*{user.isBlocked()}" th:action="@{/ti/users/admin/users/{id}/block(id=${user.id})}" method="post">
            <button type="submit">Block User</button>
        </form>

        <form th:if="*{user.isBlocked()}" th:action="@{/ti/users/admin/users/{id}/unblock(id=${user.id})}" method="post">
            <button type="submit">Unblock User</button>
        </form>
    </div>
</main>
<footer>
    <p>&copy; 2023 Your Company</p>
</footer>
</body>
</html>