<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header th:replace="~{ForumFormFragment.html :: header}"></header>
<form th:replace="~{ForumFormFragment.html :: images}"></form>

<div class="body-content">
    <h2 class="h2-3d-dark" th:text="${user.getUsername()} + '\'s details'">User Details</h2>
    <div class="user-profile-container">
        <div class="profile-picture">
            <img th:src="${user.avatar.avatar}" alt="Profile Picture" width="200" height="200"/>
        </div>
        <div class="user-info">
            <div class="user-info-left">
                <p><strong>Username:</strong></p>
                <p><strong>First Name:</strong></p>
                <p><strong>Last Name:</strong></p>
                <p><strong>Email:</strong></p>
                <p><strong>Role:</strong></p>
                <div th:if="${user.getRole().roleId==3}"><strong>Phones:</strong></div>
            </div>
            <div class="user-info-right">
                <p><span class="user-info-right" th:text="${user.username}"></span></p>
                <p><span class="user-info-right" th:text="${user.firstName}"></span></p>
                <p><span class="user-info-right" th:text="${user.lastName}"></span></p>
                <p><span class="user-info-right" th:text="${user.email}"></span></p>
                <p id="role-user-admin"><span th:text="${user.role.name}"></span></p>
                <div th:if="${isAdmin}">
                    <div th:each="phone : ${user.phoneNumbers}" class="phone-row">
                        <div class="phone-number-container">
                            <p id="phone-number-user" th:text="${phone.phoneNumber}"></p>
                            <div class="phone-button-container">
                                <form th:if="${isAdmin}"
                                      th:action="@{/ti/users/admin/{id}/phone/{phoneId}/remove(id=${user.id}, phoneId=${phone.id})}"
                                      method="post">
                                    <button type="submit" class="phone-delete-button">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${isAdmin} or ${isModerator}">
        <div class="admin-actions">
            <h2 class="h3-3d-dark">Admin Actions</h2>
            <div class="admin-buttons">
                <form th:action="@{/ti/users/admin/users/{id}/delete(id=${user.id})}" method="post">
                    <button type="submit">Delete User</button>
                </form>

                <form th:unless="*{user.isBlocked()}" th:action="@{/ti/users/admin/users/{id}/block(id=${user.id})}"
                      method="post">
                    <button type="submit">Block User</button>
                </form>

                <form th:if="*{user.isBlocked()}" th:action="@{/ti/users/admin/users/{id}/unblock(id=${user.id})}"
                      method="post">
                    <button type="submit">Unblock User</button>
                </form>

                <form th:if="*{user.getRole().roleId == 1}"
                      th:action="@{/ti/users/admin/users/{id}/promote(id=${user.id})}"
                      method="post">
                    <button type="submit">Promote Role</button>
                </form>

                <form th:if="*{user.getRole().roleId == 2}"
                      th:action="@{/ti/users/admin/users/{id}/demote(id=${user.id})}"
                      method="post">
                    <button type="submit" id="demote-moderator-button">Demote Role</button>
                </form>
            </div>

        </div>
    </div>
    <div class="forum-buttons-container">
        <a href="#" th:href="@{/ti/users/{id}/posts(id=${user.id})}" th:text="${user.getUsername()} + '\'s all posts'" class="forum-button-3d">User's all posts</a>
        <a href="#" th:href="@{/ti/users/{id}/comments(id=${user.id})}" th:text="${user.getUsername()} + '\'s all comments'" class="forum-button-3d">User's all comments</a>
    </div>
</div>
<footer th:replace="~{ForumFormFragment.html :: footer}"></footer>
</body>
</html>
